<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')

		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
			var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
					const activeThemeIcon = document.querySelector('.theme-icon-active use')
					const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
					const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

					document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
						element.classList.remove('active')
					})

					btnToActive.classList.add('active')
					activeThemeIcon.setAttribute('href', svgOfActiveBtn)
				}

				window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
					if (storedTheme !== 'light' || storedTheme !== 'dark') {
						setTheme(getPreferredTheme())
					}
				})

				showActiveTheme(getPreferredTheme())

				document.querySelectorAll('[data-bs-theme-value]')
						.forEach(toggle => {
							toggle.addEventListener('click', () => {
								const theme = toggle.getAttribute('data-bs-theme-value')
								localStorage.setItem('theme', theme)
								setTheme(theme)
								showActiveTheme(theme)
							})
						})

			}
		})
	</script>

	<style>
		.keyword + .keyword {
			margin-left: 5px; /* 버튼 사이의 간격 조절 */
		}
	</style>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="../assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/flatpickr/css/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/nouislider/nouislider.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">

</head>

<body>

<!-- Header START -->
<header class="navbar-light header-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="#">
				<img class="light-mode-item navbar-brand-item" src="../assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="../assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Buttons START -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

				<!-- Download app -->
				<li class="nav-item align-items-center d-none d-sm-flex position-relative me-sm-3">
					<!-- Icon -->
					<a href="#" class="icon-md btn btn-light mb-0 p-0 flex-shrink-0"><i class="bi bi-cloud-download-fill"></i></a>
					<div class="ms-2 d-none d-md-block">
						<h6 class="mb-0"><a href="#" class="stretched-link korean-font-bold">앱 다운로드</a></h6>
						<p class="small mb-0 text-body korean-font-bold">어플리케이션을 설치하여 더 나은 경험을 해보세요</p>
					</div>
				</li>
				<!-- Login button START -->
				<li class="nav-item ms-3">
					<form action="/logout" method="post">
						<button class="btn btn-sm btn-primary mb-0 korean-font-bold"><i class="fa-solid fa-right-to-bracket me-2"></i>로그아웃</button>
					</form>
				</li>
				<!-- Login button END -->
			</ul>
			<!-- Buttons START -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

	<!-- =======================
    Search START -->

	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Booking from START -->
				<div class="form-control-bg-light bg-mode p-0 rounded-3">
					<!-- Tab content START -->
					<div class="tab-content mt-0" id="pills-tabContent">
						<!-- One way tab START -->
						<form class="col-12 col-sm-7  col-md-5 position-relative" style="margin-left:auto">
							<input class="form-control form-control-lg pe-5 korean-font-bold" type="search" placeholder="검색어를 입력하세요" aria-label="Search">
							<button class="text-primary-hover text-reset border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y pe-3 py-0" type="submit"><i class="fas fa-search fs-6"></i></button>
						</form>
						<!-- One way tab END -->
					</div>
					<!-- Tab content END -->
				</div>
				<!-- Booking from END -->
			</div>
		</div>
	</div>

	<!-- =======================
    Search START -->

	<!-- =======================
    Cab list START -->
	<section class="pt-0">
		<div class="container mt-4" data-sticky-container>
			<div class="row">
				<!-- Main content START -->
				<div class="col-xl-12 col-xxl-12">
					<div class="vstack gap-4">
						<!-- Cab item START -->
						<div class="card border p-4" th:each="hackok : ${hackoksList}">
							<!-- Card body START -->
							<div class="card-body p-0">
								<div class="row g-2 g-sm-4 mb-4">
									<!-- Card image -->
									<!--								<div class="col-md-4 col-xl-3">-->
									<!--									<div class="bg-light rounded-3 px-4 py-5">-->
									<!--										<img src="../assets/images/category/cab/seadan.svg" alt="">-->
									<!--									</div>-->
									<!--								</div>-->

									<!-- Card title and rating -->
									<div class="col-sm-12 col-md-12 col-xl-12">
										<h4 class="card-title mb-2"><a th:href="@{/view/{id}(id=${hackok.getId()})}" class="stretched-link" th:text="${hackok.title}">제목</a></h4>
										<!-- Nav divider -->
										<h6 th:text="${hackok.date}"> 2023 . 2 . 5</h6>
									</div>
								</div> <!-- Row END -->
							</div>
							<!-- Card body END -->

							<!-- Card footer START -->
							<div class="card-footer border-top p-0 pt-3">
								<div class="row">
									<!-- List -->
									<div class="col-12">
										<a class="btn btn-primary-soft keyword" th:each="keyword : ${hackok.keywords}" th:text="${keyword}"></a>
									</div>
								</div>
							</div>
							<!-- card footer END -->
						</div>
						<!-- Cab item END -->
						<!-- Cab item START -->
						<!--					<div class="card border p-4">-->
						<!--						&lt;!&ndash; Card body START &ndash;&gt;-->
						<!--						<div class="card-body p-0">-->
						<!--							<div class="row g-2 g-sm-4 mb-4">-->
						<!--								&lt;!&ndash; Card image &ndash;&gt;-->
						<!--								&lt;!&ndash;								<div class="col-md-4 col-xl-3">&ndash;&gt;-->
						<!--								&lt;!&ndash;									<div class="bg-light rounded-3 px-4 py-5">&ndash;&gt;-->
						<!--								&lt;!&ndash;										<img src="../assets/images/category/cab/seadan.svg" alt="">&ndash;&gt;-->
						<!--								&lt;!&ndash;									</div>&ndash;&gt;-->
						<!--								&lt;!&ndash;								</div>&ndash;&gt;-->

						<!--								&lt;!&ndash; Card title and rating &ndash;&gt;-->
						<!--								<div class="col-sm-6 col-md-4 col-xl-6">-->
						<!--									<h4 class="card-title mb-2"><a href="cab-detail.html" class="stretched-link">제목</a></h4>-->
						<!--									&lt;!&ndash; Nav divider &ndash;&gt;-->
						<!--									<h6> 2023 . 2 . 5</h6>-->
						<!--								</div>-->
						<!--							</div> &lt;!&ndash; Row END &ndash;&gt;-->
						<!--						</div>-->
						<!--						&lt;!&ndash; Card body END &ndash;&gt;-->

						<!--						&lt;!&ndash; Card footer START &ndash;&gt;-->
						<!--						<div class="card-footer border-top p-0 pt-3">-->
						<!--							<div class="row">-->
						<!--								&lt;!&ndash; List &ndash;&gt;-->
						<!--								<div class="col-md-6">-->
						<!--									<a class="btn btn-primary-soft keyword" href="#">키워드1</a>-->
						<!--									<a class="btn btn-primary-soft keyword" href="#">키워드2</a>-->
						<!--									<a class="btn btn-primary-soft keyword" href="#">키워드3</a>-->
						<!--									<a class="btn btn-primary-soft keyword" href="#">키워드4</a>-->
						<!--									<a class="btn btn-primary-soft keyword" href="#">키워드5</a>-->
						<!--								</div>-->
						<!--							</div>-->
						<!--						</div>-->
						<!--						&lt;!&ndash; card footer END &ndash;&gt;-->
						<!--					</div>-->
						<!-- Cab item END -->
						<!-- Cab item START -->
						<!-- Pagination -->
						<nav class="d-flex justify-content-center" aria-label="navigation">
							<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
								<li class="page-item mb-0" th:if="${currentPageNum > 1}">
									<a class="page-link" th:href="@{'/list?page=' + (${currentPageNum} - 1)}" tabindex="-1"><i class="fa-solid fa-angle-left"></i></a>
								</li>

								<!-- Thymeleaf 반복문 사용하여 페이지 번호 생성 -->
								<li class="page-item mb-0" th:each="pageNum : ${#numbers.sequence(firstPageNum, lastPageNum)}" th:classappend="${pageNum == currentPageNum} ? 'active' : ''">
									<a class="page-link" th:href="@{'/list?page=' + ${pageNum}}" th:text="${pageNum}" th:if="${pageNum != currentPageNum}">1</a>
									<a class="page-link" th:href="@{'/list?page=' + ${currentPageNum}}" th:if="${pageNum == currentPageNum}" th:text="${pageNum}">1</a>
								</li>
								<li class="page-item mb-0" th:if="${currentPageNum < totalPages}">
									<a class="page-link" th:href="@{'/list?page=' + (${currentPageNum} + 1)}"><i class="fa-solid fa-angle-right"></i></a>
								</li>

							</ul>
						</nav>
					</div>
				</div>
				<!-- Main content END -->
			</div> <!-- Row END -->
		</div>
	</section>
	<!-- =======================
    Cab list END -->
	<section style="padding: 30px 0px 30px 0px;">
		<!-- Navbar mobile START -->
		<div class="navbar navbar-mobile">
			<ul class="navbar-nav">
				<!-- Nav item 최근기록 -->
				<li class="nav-item">
					<a class="nav-link active" href="/list" id="left-nav-item"><i class="bi bi-bookmark fa-fw"></i>
						<span class="mb-0 nav-text korean-font-bold">최근 기록</span>
					</a>
				</li>

				<!-- Nav item 홈 -->
				<li class="nav-item">
					<a class="nav-link" href="/" ><i class="bi bi-house-door fa-fw"></i>
						<span class="mb-0 nav-text korean-font-bold">홈</span>
					</a>
				</li>

				<!-- Nav item 내 계정 -->
				<li class="nav-item">
					<a class="nav-link" href="/mypage" id="right-nav-item"><i class="bi bi-person-circle fa-fw"></i>
						<span class="mb-0 nav-text korean-font-bold">내 계정</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- Navbar mobile END -->
	</section>
</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- Bootstrap JS -->
<script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="../assets/vendor/sticky-js/sticky.min.js"></script>
<script src="../assets/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="../assets/vendor/choices/js/choices.min.js"></script>
<script src="../assets/vendor/nouislider/nouislider.min.js"></script>

<!-- ThemeFunctions -->
<script src="../assets/js/functions.js"></script>

</body>
</html>